.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.mt50 { margin-top:50px; }
.mt70 { margin-top:70px; }
.mt100 { margin-top:100px; }
.mt120 { margin-top:120px; }
.mt160 { margin-top:160px; }

.pt20 {padding-top: 20px;}
.pt50 {padding-top: 50px;}
.pt100 {padding-top: 100px;}

.bold {
  font-weight: bold;
 }
 .black {
  color: black;
 }
 .tborder {
  border: 1px solid red;
 }